.DS_Store
*~
AwsCredentials.properties
fbapp.properties
chatsessiondata/
chatsessiondata.*/
bin/
logs/
target/
node_modules/
build/
out/
.metadata/
.recommenders/
.gradle/
.idea/
*.iml
.classpath
.project
.settings
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties